
{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
{{ $title := .Title }}

<div class="illustrations-main">
    <div class="illustrations">
        {{ range .Resources.ByType "image" }}
            {{ $author := .Name | replaceRE  "-" " " | replaceRE "(.png|.jpg)" "" }}
            {{ $author_page := print "/authors/" (.Name | replaceRE "(.png|.jpg)" "")}}
            <figure>
                <img src="{{ .RelPermalink }}" alt="{{ $title }}"/>
                <figcaption>{{ $title }} par <a href="{{ $author_page }}">{{ $author }}</a></figcaption>
            </figure>
        {{ end }}
    </div>
    <div class="illustration-content">
        <h1>{{ $title }}</h1>
        {{ .Content }}

    </div>
</div>
{{ end }}
