<header class="clearfix">
    <h1>{{ with .Site.Title }}{{ . | markdownify }}{{ end }}<br/>
        <small>
            #IllustrationCNVLibre 
            <a href="https://mamot.fr/tags/IllustrationCNVLibre"><i class="fa fa-mastodon" aria-hidden="true"></i></a>
            <a href="https://twitter.com/search?q=%23IllustrationCNVLibre"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/search/results/all/?keywords=IllustrationCNVLibre"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="/index.xml"><i class="fa fa-rss" aria-hidden="true"></i></a>
        </small>
    </h1>
    <nav class="menu"  role="navigation">
        <label for="hamburger">&#9776;</label>
        <input type="checkbox" id="hamburger"/>
        <ul>
            <li><a href="/illustrations/">Toutes les illustrations</a> </li>
            <li><a href="/categories/sentiment/">Les sentiments</a> </li>
            <!--<li><a href="/categories/besoin/">Les besoins</a> </li>-->
            <li><a href="/authors/">Les auteurs</a> </li>
            <li><a href="/comment-participer/">Comment participer</a></li>
        </ul>
    </nav>
</header>
